<!DOCTYPE html>
<html charset="utf-8">
<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script>
  angular.module('Crossnulls', []);
</script>
<script src="crossnullsCtrl.js"></script>
<script src="crossnullsDrtv.js"></script>
<script src="myCellCtrl.js"></script>
<script src="myCellDrtv.js"></script>
<link href="style.css" rel="stylesheet"/>
<title>Cross'n'Null</title>
</head>
<body ng-app="Crossnulls">
  <div class="field" ng-controller="controllerMain" ng-click="clkwinLine()">
    <div ng-controller="crossnullsCtrl">
      <div class="cell" ng-controller="myCellCtrl" ng-click="clickQueue()" ng-repeat="cell in field track by $index">
        {{state}}
        <p>
          {{$index + 1}}<span>{{cell}}</span>
        </p>
      </div>
      <!--button ng-click="restart()">Restart</button-->
    </div>
    <div ng-style="winLine" ng-show="winShow" class="winline" id="winLine"></div>
  </div>
</body>
<script>
  'use strict';
  angular.module('Crossnulls').controller('controllerMain', ['$scope', controllerMain]);
  var turn = 1;
  var turnsLeft = 0;
  var states = ["1","2","3","4","5","6","7","8","9"];
  var win = false;
  var winLine;
  var backState;
  function controllerMain($scope) {
    $scope.winShow = false;
    console.log('Main controller is working...');
    // Add the array with cells
    $scope.field = ["top-left","top-center","top-right","mid-left","mid-center","mid-right","bot-left","bot-center","bot-right"];
    turnsLeft = $scope.field.length;
    backState = $scope.field;
      $scope.clkwinLine = function() {
        if (win == true) {
          $scope.winShow = true;
          $scope.winLine = winLine;
        }
      };
      /*$scope.restart = function() {
        console.log('Restarting...');
        $scope.winShow = false;
        turn = 1;
        turnsLeft = $scope.field.length;
        states = ["1","2","3","4","5","6","7","8","9"];
        win = false;
        $scope.field = $scope.$new(true);
        $scope.field = backState;
      }*/
  };
</script>
</html>
