<div class="cell" ng-click="clickturn()">{{turn()}}</div>
<div class="cell" ng-click="clickturn()">{{turn()}}</div>
<div class="cell" ng-click="clickturn()">{{turn()}}</div>
<div class="cell" ng-click="clickturn()">{{turn()}}</div>
<div class="cell" ng-click="clickturn()">{{turn()}}</div>
<div class="cell" ng-click="clickturn()">{{turn()}}</div>
<div class="cell" ng-click="clickturn()">{{turn()}}</div>
<div class="cell" ng-click="clickturn()">{{turn()}}</div>
<div class="cell" ng-click="clickturn()">{{turn()}}</div>
